[Unit]
After=network-online.target
Description="Turtlebot3 bringup"

[Service]
User=ubuntu
Group=ubuntu
Type=simple
Environment=TURTLEBOT3_MODEL=burger
Environment=LDS_MODEL=LDS-02
Environment=ROS_DOMAIN_ID=30
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash && source /home/ubuntu/turtlebot3_ws/install/setup.bash && ros2 launch turtlebot3_bringup robot.launch.py'
RemainAfterExit=no
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target
